<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Pharmacy.Properties.Settings.PharmacyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Pharmacy.mdb" providerName="System.Data.OleDb" />-->
        <add name="Pharmacy.Properties.Settings.PharmacyConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=Pharmacy.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
